@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #DFD9E2;
    color: #535865;

}

h1, h2, h3 {
    color: #865B9A;
    font-weight: 500;
}

h1 {
    text-align: center;
    text-decoration: underline
}

h2 {
    letter-spacing: 15px;
    text-transform: uppercase;
    text-align: center;
}

p.note {
    font-weight: bold;
}

button {
    background-color: #865B9A;
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: darkorange;
    color: purple;
